<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!-- Define alias for com.youtube.sandbox.model.Product -->
        <typeAlias alias="Product" type="com.youtube.sandbox.model.Product"/>
        
        <!-- Add more type aliases as needed -->
        <!-- <typeAlias alias="OtherAlias" type="com.youtube.sandbox.model.OtherClass"/> -->
    </typeAliases>
</configuration>
